# ------------------------------
# Node & Package Management
# ------------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ------------------------------
# Expo
# ------------------------------
.expo/
.expo-shared/

# ------------------------------
# TypeScript
# ------------------------------
*.tsbuildinfo

# ------------------------------
# Build Artifacts
# ------------------------------
dist/
build/
web-build/

# ------------------------------
# OS Files
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# macOS
# ------------------------------
*.DS_Store

# ------------------------------
# Android
# ------------------------------
android/.gradle/
android/app/build/
android/build/

# ------------------------------
# iOS
# ------------------------------
ios/Pods/
ios/build/
ios/DerivedData/

# ------------------------------
# Misc
# ------------------------------
*.log
.env
.env.*
appDescriptions.txt
